@charset "utf-8";
/* CSS Document */

#video{ 
	width:520px;
	margin:20px;
	background:#36F;
	padding: 5px;
	
	border:2px solid #009;
	border-radius:8px;
}
	
#nav{
	margin:5px 0;	
}

#botones{
	float:left;
	width:100px;
	height:20px;	
}
#barra{
	background:#FFF;
	width:430px;
	height:14px;
	border: 1px solid #333;	
	padding: 2px;
	margin-left:65px;
	margin-top:2px;
}
#progreso{
	position:absolute;
	width:0px;
	height:14px;
	background:rgba(0.0.150.2);
}